@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">MISTI</a>
        </div>

        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Medium">
                @Body
            </MudContainer>
        </MudMainContent>
@*        <article class="content px-4">
            @Body
        </article>*@
    </main>
    <MudThemeProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>
</div>
